
.profesor--base-profesor-inline-style-1 { position:relative; }
.profesor--base-profesor-inline-style-2 { display:flex;align-items:center;gap:12px; }
.profesor--base-profesor-inline-style-3 { display:none }
.profesor--base-profesor-inline-style-4 { display:none; }
.profesor--base-profesor-inline-style-5 { display:flex;flex-direction:column;gap:14px; }
